.port{
	color: white;
	height: 
}
.we{
	color: #394053
}.port{
	color: white;
	height: 
}
.we{
	color: #394053
}
.azul{
	background-color: #103CDB;
	border-radius: 50px;
	width: 10px;
	height: 10px;
	color: white;
	padding: 20px;
	margin-left: 10px;
}
.rojo{
	background-color: #F91017;
	border-radius: 50px;
	width: 10px;
	height: 10px;
	color: white;
	padding: 20px;
	margin-left: 10px;
}
.calipso{
	background-color: #10C9DB;
	border-radius: 50px;
	width: 10px;
	height: 10px;
	color: white;
	padding: 20px;
	margin-left: 10px;
}
.celeste{
	background-color: #0A78B3;
	border-radius: 50px;
	width: 10px;
	height: 10px;
	color: white;
	padding: 20px;
	margin-left: 10px;
}
.joven{
	padding: 40px 0px;
	background-color: #F7F2F2;
	right: 10px;
}
.imagen {
	border: 3px solid white;
}
.senior{
	opacity: 0.3;
}
.img-circle{
	margin-left: 30px;
}
