.breadcrumb {
	background-color:transparent;
}
.title{
	color:#ECEBEB;                                                                                                                                                                                                                                                                                                                                                                                                                               ;
}
.entrance{
	padding: 2%;
	border: 1px solid #C3BEBE;
	background-color: whitesmoke;
	margin: 2%;
	border-radius: 5px;
}
.entrance li{
	display: inline;
	margin: 5%;
}
.img-blog{
	border-radius: 5px;
}
.botton-blog.btn.btn-default.btn-sm{
	background-color: whitesmoke;
	border: 1px solid #ADADAD;
}
.botton-blog.btn.btn-default.btn-sm a{
	color: #9C9C9C;
}
