.contact{
	margin:30px;
	padding: 20px;
}
.verde{
	background-color: #04C262;
	color: white;
	padding: 20px 0px 30px 0px;
}
.breadcrumb{
	background-color: transparent;
	color: white;
	font-size: 16px;
	padding-top: 30px;
	margin: 0;
}
.boton.btn.btn-default {
	background-color: #3E5EEB;
	color: white;
	border:none;
}
.message{
	top: 60px;
}
.mapa{
	height: 222px;
	width: 450px;
}