@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
 /* SECTION */
 .bg-img{
 	background-image: url(../images/slider/bg1.jpg);
 	background-size: cover;
 	background-repeat: no-repeat;
 	height: 550px;
 	width: 100%;
 	margin: 0 auto;
 }
 .title{
 	color: white;
 	padding-top: 20%;
 }
  .title h1{
 	font-size: 40px;
 }
 .icons{
 	font-size: 50px;
 	height: 70px;
 	width: 70px;
 	text-align: center;
 	border-radius: 100%;
 }
 .fa-google-plus{
 	font-size: 45px;
 }
 .media.twitter.col-xs-12.col-sm-4.col-md-4 {
 	padding-top: 1%;
 }
  /* SECTION */