.what{
	text-align: center;
	color: #433E3E;
}
i{
	background-color: #897D7D;
	border-radius: 60px;
	width: 90px;
	height: 90px;
	padding: 25px;
	color: white;
}
.window{
	color: #3D3B3B;
	padding-left: 20px;
	margin-top: 20px;
}
.service {
	margin: 1% 0;
}
.port{
	color: white;
	height: 
}
.we{
	color: #394053
}


