.what{
	text-align: center;
	color: #433E3E;
}
i{
	background-color: #897D7D;
	border-radius: 60px;
	width: 90px;
	height: 90px;
	padding: 25px;
	color: white;
}
.window{
	color: #3D3B3B;
	padding-left: 20px;
	margin-top: 20px;
}
.service {
	margin: 1% 0;
}
.verde{
	background-color: #04C262;
	color: white;
	padding: 20px 0px 30px 0px;
}
.breadcrumb{
	background-color: transparent;
	color: white;
	font-size: 16px;
	padding-top: 30px;
	margin: 0;
}


